#<domain>      <type>  <item>         <value>
{{ kibana.user.name }} hard nofile 65536
{{ kibana.user.name }} soft nofile 65536
{{ kibana.user.name }} hard fsize ulimited
{{ kibana.user.name }} soft fsize ulimited
{{ kibana.user.name }} memlock unlimited