#<domain>      <type>  <item>         <value>
{{ elasticsearch.user.name }} hard nofile 65536
{{ elasticsearch.user.name }} soft nofile 65536
{{ elasticsearch.user.name }} hard fsize ulimited
{{ elasticsearch.user.name }} soft fsize ulimited
{{ elasticsearch.user.name }} memlock unlimited